*{
    padding: 0;
    margin: 0;
}

body{
    background-color: dimgrey;
}
.nav-bar{
    background-color: whitesmoke;
    height: 47px;
}

.Start-button{
    background-color: whitesmoke;
    margin-left: 75%;
    margin-top: 11px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    width: 49px;
    border-radius: 2px;
    cursor: pointer;
    border: none;

}

.Home-button{
    background-color: whitesmoke;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    width: 49px;
    border-radius: 2px;
    cursor: pointer;
    border: none;

}

.About-button{
    background-color: whitesmoke;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    width: 49px;
    border-radius: 2px;
    cursor: pointer;
    border: none;

}

.Contact-button{
    border: none;
    background-color: whitesmoke;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    width: 50px;
    border-radius: 2px;
    cursor: pointer;

}


.About-button:hover{
    background-color: bisque;
}

.Contact-button:hover{
    background-color: bisque;
}

.Home-button:hover{
    background-color: bisque;
}

.Start-button:hover{
    background-color: bisque;
}

.Top{
    color: white;
    text-align: left;
    text-align: center;
    margin-top: 15%;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}